Slider Label {
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}

.MenuTitle {
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}
